@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    /*Colors*/
    --color-background: #00030C;
    --color-text: #FFF;
    --color-text2: #C0C0C0;
    --color-button: #167BF7;
    --color-burron--hover: #4391f0;
    /*Fonts*/
    --font-principal: 'Inter', sans-serif;

}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-principal);
    font-size: 1rem;
    font-weight: 400;
}


.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.principal {
    background-image: url(../assets/Background_page1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
    font-weight: 400;
}

.principal__caixa {
    margin: 0 6em;
}

.principal__titulo {
    font-weight: 700;
    font-size: 1.63rem;
}


.principal__botao {
    background-color: var(--color-button);
    border-radius: 8px;
    text-decoration: none;
    margin: 1em 2em;
    padding: 1em;
    color: var(--color-text);
    display: block;
}

.principal__botao:hover {
    background-color: var(--color-burron--hover);
    color: var(--color-text2);
}

.botao_secundario {
    background-color: transparent;
    border: var(--color-text) solid 1px;
}

.principal__aviso {
    color: var(--color-text2);
    font-size: 0.75rem;
}

.principal__img {
    margin: 1em 0 2em 0em;
}

.conteudo__img {
    margin-left: 20%;
}

.conteudo__img-dir {
    padding: 6em;
}

.secundario {
    align-items: center;
}

.secundario__img {
    width: 80%;
}

.conteudo__titulo {
    font-size: 48px;
    font-weight: 700;
    color: var(--color-text);
    margin-bottom: 0.2em;
}

.conteudo__texto {
    font-size: 16px;
    color: var(--color-text2);
    opacity: 0.8;
    margin-bottom: 2em;
    margin-right: 2em;
}

.terceario {
    align-items: center;
}

.terceario__conteudo {
    margin-left: 20%;
    display: inline-block;
}

.terceario__botao {
    display: inline-block;
    margin: 0;
    background-color: var(--color-button);
    border-radius: 8px;
    text-decoration: none;
    padding: 1em;
    color: var(--color-text);
}

.quaternario {
    align-items: center;
}

.quinario {
    text-align: center;
    height: 50vh;
}

.quinario__container {
    display: flex;
    justify-content: center;

}

.quinario__conteudo {
    margin: 1em;
    color: var(--color-text);
    font-size: 32px;
    font-weight: 700;
}

footer {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rodape__img {
    margin: 3rem;
}

.rodape__navegacao {
    display: flex;
    justify-content: center;
}

.rodape__link a {
    text-decoration: none;
    color: var(--color-text);
    font-size: 16px;
    font-weight: 400;
    padding: 0.5em;
}

.rodape__link a:hover {
    color: var(--color-button);
}

.rodape__rodape {
    padding: 2em;
    display: block;
}

.rodape__texto {
    padding: 1em;
    display: block;
    font-size: 14px;
    color: var(--color-text2);
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    body {
        display: block;
    }

    .container {
        display: block;
        background-image: none;
        text-align: center;
        align-items: center;
    }

    .principal {
        text-align: center;
        align-items: center;
    }

    .principal__img {
        width: 50vw;
    }

    .principal__caixa {
        margin: 2em 2em;
        text-align: center;
    }

    .conteudo__img {
        margin: 0;
        width: 50vw;
    }

    .conteudo__img-dir {
        margin: 0;
        width: 50vw;
    }

    .terceario__conteudo {
        margin: 0;
    }

    .conteudo__texto {
        margin: 0;
    }

    .quinario__container {
        flex-direction: column;
    }

    footer {
        display: flex;
        justify-content: center;
        text-align: center;
    }



}

    
