@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    /*Colors*/
    --color-background: #00030C;
    --color-text: #FFF;
    --color-text2: #C0C0C0;
    --color-button: #167BF7;
    /*Fonts*/
    --font-principal: 'Inter', sans-serif;

}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-principal);
    font-size: 1rem;
    font-weight: 400;
}


.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.principal {
    background-image: url(../assets/Background_page1.svg);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
    font-weight: 400;
}

.principal__caixa {
    margin: 0 6em;
}

.principal__titulo {
    font-weight: 700;
    font-size: 1.63rem;
}


.principal__botao {
    background-color: var(--color-button);
    border-radius: 8px;
    text-decoration: none;
    margin: 1em 2em;
    padding: 1em;
    color: var(--color-text);
    display: block;
}

.botao_secundario {
    background-color: transparent;
    border: var(--color-text) solid 1px;
}

.principal__aviso {
    color: var(--color-text2);
    font-size: 0.75rem;
}

.principal__img {
    margin: 1em 0 2em 0;
}

.secundario {
    align-items: center;
}

.secundario__img {
    width: 80%;
}

.conteudo__titulo {
    font-size: 48px;
    font-weight: 700;
    color: var(--color-text);
    margin-bottom: 0.2em;
}

.conteudo__texto {
    font-size: 16px;
    color: var(--color-text2);
    opacity: 0.8;
    margin-bottom: 2em;
    margin-right: 2em;
}

.terceario {
    align-items: center;
    padding: 10em;
}


.terceario__botao {
    background-color: var(--color-button);
    border-radius: 8px;
    text-decoration: none;
    padding: 1em;
    color: var(--color-text);

}

.quaternario {
    align-items: center;
}

.quinario__container {
    height: 75vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
    text-align: center;
}